---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const colletectionDetails = await getCollection("details");
  console.log("DETAILS:", colletectionDetails);

  const servicios = [
    {
      id: "diseno-web",
      nombre: "Diseño Web",
      desc: "Creamos sitios hermosos.",
    },
    { id: "seo", nombre: "SEO", desc: "Aparece en los primeros resultados." },
  ];

  return servicios.map((servicio) => ({
    params: { id: servicio.id },
    props: { servicio },
  }));
}

const { id } = Astro.params;
const { servicio } = Astro.props;
---

<h1>Servicio: {servicio.nombre}</h1>
